@import "tailwindcss";

* {
  font-family: 'Gill Sans MT';
}


.Box_Shedow {
  box-shadow: 1px 1px 4px #cccc;
}

.BG_Color {
  background: linear-gradient(to right, #ff8800ac, #ff8a00);
}

.Text_Color {
  background: linear-gradient(to right, #ff8800ac, #ff8a00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 12px;
}

*::-webkit-scrollbar-thumb {
  background-color: #ff8a00;
  border-radius: 12px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #ff8800a5;
  padding: 10px;
  cursor: pointer;
}


.custom-arrow {
  position: absolute;
  top: 50%;
  z-index: 1;
  cursor: pointer;
  transform: translateY(-50%);
  background: #312c85;
  color: white;
  border-radius: 50%;
  padding: 1px;
}

.custom-arrow.prev {
  left: 10px;
}

.custom-arrow.next {
  right: 10px;
}

/* Base: Mobile (default) */
body {
  font-size: 16px;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

/* Tablet (md: ≥768px) */
@media (min-width: 768px) {
  body {
    font-size: 18px;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }
}

/* Laptop (lg: ≥1024px) */
@media (min-width: 1024px) {
  body {
    font-size: 20px;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 24px;
  }
}

/* Desktop (xl: ≥1280px) */
@media (min-width: 1280px) {
  body {
    font-size: 25px;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 30px;
  }
}